@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --yellow:#F3DD67;
  --black:#151515;
}
body{
  background: var(--black);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: white;
}
.text-main{
  color: var(--yellow);
}
.bg-main{
  background: var(--yellow);
}
.line{
  height: 1px;
  background: white;
  width: 14px;
  margin-bottom: 4px;
}
.line:first-child{
  width: 18px;
}
.line:last-child{
  width: 10px;
}
.close{
  width: 20px;
  height: 20px;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 1px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}